<br/>
<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
<%  for(var w in widgets) {
        var widget = widgets[w];
        var data = {
            widget: widget
        };
        var widgetFile = "widgets/widget-" + widget.type;
%>      <%- include(widgetFile, data) %>
<%  }
%>
</div>